<div class="row">
    <section class="col-7 background">
        <div class="layer"></div>
    </section>
    <section class="col-5 login-form row">
        <div class="col-2"></div>
        <div class="col-8">
            <form action="" id="login">
                <h1 id="title">Open Commerce</h1>
                <input class="form-control" placeholder="Email"/>
                <input class="form-control" placeholder="Password" type="password"/>
                <button id="btn-entrar" class="btn" type="button">Entrar</button>
                
            </form>
            <span id="new-account"><a href="#">Criar uma conta</a></span>
        </div>
        <div class="col-2"></div>
    </section>
</div>